/*   MAIN   */
.chat-main{
    height: calc(100vh - 70px);
    width: 100%;
    padding-top: 2em;

    -webkit-box-shadow: inset 0px 0px 50px 13px rgba(0,0,0,0.26); 
    box-shadow: inset 0px 0px 50px 13px rgba(0,0,0,0.26);
    background: rgb(68,64,84);
    background: linear-gradient(135deg, rgba(68,64,84,1) 0%, rgba(45,40,70,1) 50%, rgba(101,97,121,1) 100%);

}

.chat-container{
    position: relative;
    max-width: 1000px;
    height: calc(100vh - 70px - 4em);
    margin: 0 auto;

    border-radius: 5px;
    -webkit-box-shadow: -6px 7px 10px 0px rgba(0,0,0,0.32); 
    box-shadow: -6px 7px 10px 0px rgba(0,0,0,0.32);
    background-color: var(--clr-contrast);
}

.chat-header{
    height: 60px;
    width: 100%;

    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.36); 
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.36);
    border: 1px solid var(--clr-primary);
    background-color: var(--clr-primary);
}

.chat-header-back:hover,
.chat-header-back:focus{
    color: var(--clr-highlighted)
}

.chat-header-title{
    color: white;
    opacity: 0.9;
}

.chat-container-messages{
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;

    padding: 2em;
    overflow-y: scroll;
}
.chat-header-back{
    position: absolute;
    left:0;
    margin-left: 0.75em;
    rotate: 180deg;

    cursor: pointer;
    color:white;
}

/* Date Seperator */
.message-date-seperator{
    margin-block: 0.5em;
}

.message-date-seperator-line{
    height: 2px;
    width: 30%;
    margin-inline: auto;

    background-color: var(--clr-secondary);
}

/* Messages */
.chat-message-box{
    position: relative;
    max-width: 65%;
    margin-block: 0.3em;
    display: inline-block;
    padding: 0.7em;
    
    line-height: 1.1;
    border-radius: 10px;
    border: 1px solid var(--clr-primary);
}

.chat-message-box h5{
    font-weight: 600;
}

.chat-message-box-footer{
    min-width: 120px;
    display: flex;
    margin-top: 0.2em;
    padding-top: 0.3em;

    border-top: 1px solid black;
}

.chat-message-box-footer-seen{
    margin-left: auto;
}   

.footer-white{
    border-top: 1px solid white;
}

/* OWN */
.chat-message-box-own{
    margin-left: auto;
    
    background-color: var(--clr-ownMessage);
}

/*  PARTNER  */
.chat-container-reciever{
    display: flex;
    align-items: center;
}

.chat-message-image-reciever{
    width: 30px;
    height:30px;
    margin-right: 0.35em;
    
    border-radius: 50%;
}

.chat-message-image-placeholder{
    width: 30px;
    height: 30px;
    margin-right: 0.35em;
}

.chat-message-box-reciever{
    color: var(--clr-white);
    background-color: var(--clr-secondary);
}

.chat-message-box-reciever h5{
    font-weight: 300;;
}

.chat-message-box-msg{
    opacity: 0.9;
}

/*   Chat Footer   */
.chat-footer{
    position: absolute;
    width: 100%;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:0;
    

    padding: 1em;
    background-color: var(--clr-primary);
}

.chat-footer-textarea{
    width:90%;
    height: 45px;
    padding: 0.5em;

    resize: none;
    font-size:1.25em;
    border-radius: 10px;
    border-width: 2px;
    padding-top: 0.6em;
    color: var(--clr-white);
    border-color: var(--clr-white);
    background-color: var(--clr-primary);
}

.chat-footer-button{
    height: 35px;
    width:35px;
    margin-left: 0.5em;

    cursor: pointer;
    border-radius: 50%;
    color: var(--clr-white);
    border-color: var(--clr-white);
    background-color: var(--clr-primary);
}

/* MEDIA QUERIES */

@media (max-width: 1000px){
    .chat-main{
        padding-top: 0;
    }
    .chat-container{
        height: calc(100%);
    }
    .chat-container-messages{
        padding: 1em;
    }
    .chat-message-box{
        max-width: 80%;

    }
}









/* Navigation Bar */
.chat-container-messages::-webkit-scrollbar, 
.chat-footer-textarea::-webkit-scrollbar{
    width: 6px;
}

.chat-container-messages::-webkit-scrollbar-track,
.chat-footer-textarea::-webkit-scrollbar-track{
    background: var(--clr-secondary); 
}

.chat-container-messages::-webkit-scrollbar-thumb,
.chat-footer-textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);   
    border-radius: 20px;       
}