/*   Sign Up   */
.credentials-main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../../Assets/credentials/peach-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:luminosity;
    background-color: var(--clr-highlighted);
    -webkit-box-shadow: inset -38px -50px 50px 8px rgba(0,0,0,0.4); 
    box-shadow: inset -38px -50px 50px 8px rgba(0,0,0,0.4);    
}
.credentials-heart-container{
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.credentials-heart{
    max-width: calc(10vw + 200px);
    transform:translateY(30px) translateX(30px) rotate(-20deg) ;
    margin-top: 8%;
}
.navbar-spacer{
    width: 100%;
    height: 70px;
    background-color: var(--clr-highlighted);
}
.credentials-strip{
    position: absolute;
    left: 0;
    top: calc(0% - 70px);
    background-color: var(--clr-secondary);
    width: 32%;
    height: calc(100vh +  70px);
    -webkit-box-shadow: inset -38px -50px 50px 8px rgba(0,0,0,0.4); 
    box-shadow: inset -38px -50px 50px 8px rgba(0,0,0,0.4);  }

.credentials-content-container{
    position: relative;
    height: 80vh;
    width: 90%;
    z-index: 1;
    display: flex;
}
.credentials-image-container{
    padding: 1em;
    width: 50%;
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "a c f"
        "a c f"
        "a d f"
        "b d g"
        "b e g"
        "b e g";
}
.a-grid{grid-area: a; background-image: url(../../Assets/credentials/credentials-1.jpg);}
.b-grid{grid-area: b; background-image: url(../../Assets/credentials/credentials-2.jpg)}
.c-grid{grid-area: c; background-image: url(../../Assets/credentials/credentials-3.jpg)}
.d-grid{grid-area: d; background-image: url(../../Assets/credentials/credentials-4.jpg)}
.e-grid{grid-area: e; background-image: url(../../Assets/credentials/credentials-5.jpg)}
.f-grid{grid-area: f; background-image: url(../../Assets/credentials/credentials-6.jpg)}
.g-grid{grid-area: g; background-image: url(../../Assets/credentials/credentials-7.jpg)}


.credentials-indv-img{
    border-radius: 15px;
    -webkit-box-shadow: -38px 50px 50px 2px rgba(0,0,0,0.6); 
    box-shadow: -38px 50px 50px 2px rgba(0,0,0,0.6);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.credentials-indv-img:hover,
.credentials-indv-img:focus{
    transform: scale(1.1)
}

.credentials-form-container{
    width: 50%;
}


/*   Form   */
.credentials-form{
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1100px;
    margin-top: 1.3em;;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(75deg, rgba(44,36,66,1) 0%, rgba(131,93,122,1) 100%);
    border: 2px solid var(--clr-white);
    
}
.credentials-form-signup{
    padding-bottom: 20%;
}


.link{
    color: lightblue;
}
.link:hover{
    color: rgb(43, 43, 233);
}

.signin-form{
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
.credentials-title{
    color: var(--clr-white);
    margin-top: 1em;
    text-align: center;
    font-size: 2rem;
    text-align: center
}
.sign-up-form-container{
    position: relative;
    z-index: 10000;
    width: 90%;
    height: 50%;
    display: grid;
    padding: 0.5em;
    margin-bottom: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 1em;
    grid-template-areas: 
        "a a"
        "b c"
        "d d"
        "e f"
        "g h"
        "i -"
        "j j"
        "k k";

    margin-top: 1em;
}

.grid-a{grid-area: a;}
.grid-b{grid-area: b;}
.grid-c{grid-area: c;}
.grid-d{grid-area: d;}
.grid-e{grid-area: e;}
.grid-f{grid-area: f;}
.grid-g{grid-area: g;}
.grid-h{grid-area: h;}
.grid-i{grid-area: i;}
.grid-j{grid-area: j;}
.grid-k{grid-area: k;}

/* Inputs */
.signin-input{
    width: 100%;
    color: var(--clr-white);
}
.signin-input input{
    height: 30px;
    color: var(--clr-white);
    border-bottom: 1px solid var(--clr-white) !important;
}
.signin-input span{
    color: var(--clr-white) !important;
}

.credentials-form-input{
    color: var(--clr-white);
    opacity: 0.9;
    border: none;
    border-bottom: 1px solid var(--clr-white);
    background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.credentials-form input{
    width: 100%;
}

.credentials-form-btn{
    width: 200px;
    height: 75%;
    margin: 0 auto;
    margin-top: 2em;

    cursor: pointer;
    border: none;
    color: var(--clr-white);
    border-top: 1px solid var(--clr-white);
    border-bottom: 1px solid var(--clr-white);
    background-color: transparent;
}
.credentials-form-btn:hover,
.credentials-form-btn:focus{
    color: var(--clr-secondary);
    border: 1px solid var(--clr-secondary)
}
.credentials-error-container{
    margin-top: 1em;
    padding: 1em;
    border-radius: 15px;
    color: var(--clr-white);
    border: 1px solid var(--clr-white);
    background-color: darkred;
    margin-bottom: 1.5em;
}
.signup-signin-link{
    position: relative;
    z-index: 1000;
    margin-top: 1em;
    text-align: center;
    color: var(--clr-white);
}

.signin-input{
    height: 50px;
}
.signin-button{
    height: 50px;
}

@media screen and (max-width: 1300px) {
    .credentials-form-container{
        width: 70%;
    }
    .credentials-image-container{
        grid-template-columns: 1fr 1fr;
    }
    .b-grid{grid-area: b; background-image: url(../../Assets/credentials/credentials-7.jpg)}
}

@media screen and (max-width: 1000px) {
    .credentials-form-container{
        width: 70%;
    }
    .credentials-image-container{
        grid-template-columns: 1fr ;
    }
    .b-grid{grid-area: b; background-image: url(../../Assets/credentials/credentials-7.jpg)}
}

@media screen and (max-width: 800px) {
    .credentials-strip{
        display: none;
    }
    .credentials-main{
        box-shadow: none;
    }
    .credentials-image-container{
        display: flex;
    }
    .credentials-form-container{
        width: 100%;
    }
    .signup-form{
        width: 100%;
    }
    .credentials-image-container{
        display: none;
    }
    .credentials-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .signup-form{
        border: 1px solid var(--clr-secondary);
    }
}
@media screen and (max-width: 500px) {
    .credentials-heart-container{
        display: none;
    }
}