/*   MAIN   */
.chat-main{
    height: calc(100vh);
    width: 100%;
    padding-top: 2em;
    
    box-shadow: var(--bs-light);
    background-image: url("../../Assets/background.jpg");
}

.chat-container{
    position: relative;
    max-width: 1000px;
    height: calc(100vh - 70px - 4em);
    margin: 70px auto;

    border-radius: 10px;
    border: 2px solid var(--clr-black);
    background-color: var(--clr-white)
}

.chat-header{
    height: 60px;
    width: 100%;
    
    box-shadow: var(--bs-light);
    background-color: var(--clr-primary);
}

.chat-header-back:hover,
.chat-header-back:focus{
    border-color: var(--clr-highlighted)
}

.chat-header-title{
    opacity: 0.95;
    color: var(--clr-white);
}

.chat-container-messages{
    height: calc(100% - 130px);
    display: flex;
    flex-direction: column;

    padding: 2em;
    overflow-y: scroll;
    box-shadow: var(--bs-light);
    border-left: 3px solid var(--clr-primary);
    
}
.chat-header-back{
    position: absolute;
    left:0;
    top: 2.5%;
    margin-left: 1em;
    rotate: 180deg;

    cursor: pointer;
    color:white;
    border-color: white;
}

/* Date Seperator */
.message-date-seperator{
    margin-block: 0.5em;
}

.message-date-seperator-line{
    height: 2px;
    width: 30%;
    margin-inline: auto;

    background-color: var(--clr-secondary);
}

/* Messages */
.chat-message-box{
    position: relative;
    max-width: 65%;
    margin-block: 0.3em;
    display: inline-block;
    padding: 0.7em;
    
    line-height: 1.1;
    border-radius: 10px;
    border: 1px solid var(--clr-primary);
}

.chat-message-box h5{
    font-weight: 600;
}

.chat-message-box-footer{
    min-width: 120px;
    display: flex;
    margin-top: 0.2em;
    padding-top: 0.3em;

    border-top: 1px solid black;
}

.chat-message-box-footer-seen{
    margin-left: auto;
}   

.footer-white{
    border-top: 1px solid white;
}

/* OWN */
.chat-message-box-own{
    margin-left: auto;
    
    background-color: var(--clr-ownMessage);
}

.chat-no-message{
    text-align: center;
}
/*  PARTNER  */
.chat-container-reciever{
    display: flex;
    align-items: center;
}

.chat-message-image-reciever{
    width: 30px;
    height:30px;
    margin-right: 0.35em;
    
    border-radius: 50%;
    border: 1px solid var(--clr-primary);
}

.chat-message-image-placeholder{
    width: 30px;
    height: 30px;
    margin-right: 0.35em;
}

.chat-message-box-reciever{
    color: var(--clr-white);
    box-shadow: var(--bs-light);
    background-color: var(--clr-primary);
}

.chat-message-box-reciever h5{
    font-weight: var(--fw-reg);
}

.chat-message-box-msg{
    opacity: 0.975;
}

/*   Chat Footer   */
.chat-footer{
    position: absolute;
    width: 100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom:0;
    

    padding: 1em;
    box-shadow: var(--bs-light);
    background-color: var(--clr-primary);
}
.chat-footer p {
    color: red;
}

.chat-footer-input-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chat-footer-textarea{
    width:90%;
    height: 45px;
    padding: 0.5em;

    resize: none;
    font-size:1.25em;
    border-radius: 10px;
    border-width: 2px;
    padding-top: 0.6em;
    color: var(--clr-white);
    border-color: var(--clr-white);
    background-color: var(--clr-primary);
}

.chat-footer-button{
    height: 35px;
    width:35px;
    margin-left: 0.5em;

    cursor: pointer;
    border-radius: 50%;
    color: var(--clr-white);
    border-color: var(--clr-white);
    background-color: var(--clr-primary);
}

/* MEDIA QUERIES */

@media (max-width: 1000px){
    .chat-main{
        height: calc(100vh - 70px);
        padding-top: 0;
    }
    .chat-container{
        height: calc(100%);
    }
    .chat-container-messages{
        padding: 1em;
    }
    .chat-message-box{
        max-width: 80%;

    }
}



/* Navigation Bar */
.chat-container-messages::-webkit-scrollbar, 
.chat-footer-textarea::-webkit-scrollbar{
    width: 3px;
}

.chat-container-messages::-webkit-scrollbar-track,
.chat-footer-textarea::-webkit-scrollbar-track{
    background: var(--clr-primary); 
}

.chat-container-messages::-webkit-scrollbar-thumb,
.chat-footer-textarea::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);   
    border-radius: 20px;       
}