/*   Friends   */
.freinds-main-box{
    height: calc(100vh - 70px);
    width: 100%;
    padding-top: 2em;

    box-shadow: var(--bs-light);
    background-image: url("../../Assets/background.jpg");
}

.friends-container{
    max-width: 1000px;
    min-height: 85vh;
    margin: 0 auto;

    border-radius: 10px;
    border: 3px solid var(--clr-primary);
    background-color: var(--clr-white);
}

.friends-container-header{
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
    padding-inline: 1em;

    box-shadow: var(--bs-light);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: var(--clr-primary);
}

.friends-container-header-search{
    width: 92%;
    height: 40px;
    padding-left: 1em;

    color: white;
    border: none;
    border-bottom: 3px solid var(--clr-white);
    background-color: transparent;
}

.friends-container-header-search:focus{
    outline: none;
}

.chat-header-back-f{
    margin-right: 1em;
    rotate: 180deg;

    color: white;
    cursor: pointer;
    border-color: white;
}
.chat-header-back-f:hover,
.chat-header-back-f:focus{
    border-color: var(--clr-highlighted);
}

.friends-individual-user-box{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    margin-bottom: 0.2em;
    padding: 0.5em;

    cursor: pointer;
    color:var(--clr-primary);
    border-bottom: 1px solid var(--clr-primary);
}

.following-individual-pp{/* pfp*/
    width: 47px;
    height: 47px;
    margin-right: 1em;


    border-radius: 50%;
    border: 1px solid var(--clr-primary);
}

.friends-individual-user-box:first-child:hover{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.friends-individual-user-box:hover{
    background-color: var(--clr-contrast);
}

.friends-individual-name{
    width: 92%;
    overflow: hidden;
}

.friends-individual-user-lmsg{
    width: 100%;
    display: flex;
}

.friends-individual-user-lmsg-msg{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.friends-individual-user-lmsg-date{
    width: 200px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding-left: 2 em;
}

.friends-individual-user-button{
    margin-left: auto;
}

.friends-main-message{
    text-align: center;
    color:var(--clr-primary);
}

@media (max-width: 1000px) {
    .freinds-main-box{
        padding: 0em;
    }

    .friends-container{
        min-height: calc(100vh - 70px);
        border-radius: 0;
    }

    .friends-individual-user-lmsg-date{
        display: none;
    }

    .friends-container-header{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}