
.showp-container{
    position: relative;
    max-width: 1850px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: v;
    border-radius: 5px;
    color: white;
    background-color: var(--clr-black);
}

.showp-main{
    width: 100%;
    height: 80%;
    box-shadow: var(--bs-light);
    background-color: var(--clr-primary);
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    padding-inline: 3em;
}
.showp-image-container{
    position: relative;
    width: 75%;
    height: 100%;
}

.showp-image-blur{
    position: absolute;
    z-index: 1;
    min-height: 450px;
    min-width: 450px;

    border-radius: 50%;
    filter:blur(60px);
    background-color: var(--clr-secondary);
}
.showp-user-picture{
    position: relative;
    z-index: 2;
    border: 2px solid var(--clr-white);
    min-height: 300px;
    min-width: 300px;
    max-height: 400px;
    max-width: 400px;
}

.showp-user-details{
    position: relative;
    z-index: 3;
    padding: 2em;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid var(--clr-white);
    border-right: 2px solid var(--clr-white);
    background-color: var(--clr-highlighted);
}

.showp-user-details h2{
    font-family: "Arial Black";
    color: var(--clr-primary);
    line-height: 1.3;
}

.showp-user-details p{
    font-family: "Arial Black";
    color: var(--clr-white);
    opacity: 0.95;
    line-height: 1.5;
    font-size: 1em;
}

.showp-user-details li{
    font-family: "Arial Black";
    color: var(--clr-highlighted);
    opacity: 0.95;
    line-height: 1.5;
    font-size: 1em;
    margin-left: 2.5em;
}
li span{
    color: var(--clr-white)
}