/*   Landing Page   */
.landing-main{
    position: relative;
    width: 100%;

    background-color: white;
}

/*   Loading   */
.landing-loading-main{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    transform: translateY(-70px);
    
    background-color: var(--clr-highlighted);
}
.landing-loading-top{
    height:100vh;
    width: 100%;
    display:flex;
    justify-content: center;
}


/*   Top   */
.landing-top{
    height:100vh;
    width: 100%;
    display:flex;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(../../Assets/bg.jpg);   
}

.landing-top-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    padding: 0.5em;
    
}

.landing-top-title{
    text-align: center;
    font-size: calc(2vw + 2.5rem) ;
    margin-bottom: 5vh;
    line-height: 1;
    opacity:1;
    letter-spacing: -5px;
    
    text-shadow: -1px 0 var(--clr-primary), 0 2px var(--clr-primary), 1px 0 var(--clr-primary), 0 -1px var(--clr-primary);
    color: var(--clr-white);
    font-family: "Arial Black";
}


.landing-top-decription{
    text-align:center;
    max-width: 600px;
    margin: 1vh auto;
    
    text-shadow: -1px 0 var(--clr-primary), 0 2px var(--clr-primary), 1px 0 var(--clr-primary), 0 -1px var(--clr-primary);
    opacity:0.95;
    color: var(--clr-white);
}
.landing-top-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.landing-top-button{
    width: 35%;
    padding: 0.5em;
    margin-bottom:5vh;

    border-color: var(--clr-white);
    background-color: var(--clr-primary);
}
.landing-top-button:hover,
.landing-top-button:focus{
    background-color: var(--clr-highlighted);
}
.landing-top-link{
    font-family: "Bahnschrift";
    color: var(--clr-white);
    opacity: 0.925;
}
.landing-top-download-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.landing-top-download-pics{
    max-width: 175px;
    
}
.landing-top-download-pics:last-child{
    margin-left: 1em;
}

/*  INFORMATION */
.landing-info{
    position: relative;
}

.landing-info-ww{
    position: relative;
    padding-bottom: 15em;
    padding-top: 5em;;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(44,36,66,1) 95%, rgba(44,36,66,1) 100%);
}

.landing-info-ww-title{
    margin-top: 1em;
    font-size: 3rem;
    letter-spacing: -3px;
    margin-bottom: 2%;
    color: var(--clr-black);
    font-family: "Arial Black";
    font-size: calc(2vw + 1.3rem) ;
}


.landing-info-ww-container{
    position: relative;
    padding: 1.5em;
    border-radius: 10px;
    background-color: var(--clr-highlighted);
    max-width: 1300px;
    display: flex;
    gap: 1em;
    margin: 0 auto;
    margin-top: 2em;
}

.landgng-info-ww-info{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.landing-info-ww-text{
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    opacity: 0.95;
    line-height: 1;
    letter-spacing:-0.5px;
}

.landing-info-ww-img{
    position: relative;
    width: 40%;
    border-radius: 25px;
    mix-blend-mode:multiply;
}

.landing-info-ww-img:hover,
.landing-info-ww-img:focus{
    transform: scale(1.05);
}

/*   How Whizz Works   */
.landing-info-works-container{
    position: relative;
    padding-top: 5em;
    padding-bottom: 10em;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(44,36,66,1) 95%, rgba(44,36,66,1) 100%);
}

.landing-info-works-title{
    height: 120px;
    display: flex;
    justify-content: flex-end ;
    padding-right: 2em;
}

.landing-info-works-title h1{
    color: var(--clr-white);
    opacity: 0.95;
}

.landing-info-works-steps-box{
    max-width: 1300px;
    height: 90%;
    padding: 1em;
    display: flex;
    gap: 8px;
    margin: 0 auto;
    gap: 10em;
    flex-direction: column;
}

.landing-info-works-individual{
    max-width: 100%;
    display: flex;
}

.landing-info-works-indv{
    width: 90%;
    height: 600px;
    margin: 0 auto;
    display: flex;
}

.landing-info-works-indv-left{
    position: relative;
    width: 40%;
    height: 100%;
    display: flex;
    padding-right: 1em;
    flex-direction: column;
    justify-content: center;
}

.landing-info-works-indv-left h2{
    position: relative;
    z-index: 2;
    font-family: "Arial Black";
    font-size: 3em;
    margin-bottom: 1%;
    color: var(--clr-highlighted);
    font-family:"Arial Black";
    letter-spacing: -2px;;
}

.landing-info-works-indv-left p{
    position: relative;
    z-index: 2;
}

.landing-info-works-indv-step{
    position: absolute;
    z-index: 1;
    top:0;
    right: 0%;
    font-size: 35em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-highlighted);
    color: transparent;
    overflow: hidden;
    height: 100px;
}

.landing-info-works-indv-step-animation{
    animation: draw 5s ease-in-out forwards;
}

@keyframes draw {
    0%{
        height: 100px;
    }
    100%{
        height: 130%;
    }
}

.landing-reversed{
    flex-direction: row-reverse;
}

.landing-info-works-indv-right{
    width: 100%;
    height: 100%;
}

.landing-info-works-indv-img{
    position: relative;
    z-index: 2;
    max-width:  100%;
    border-radius: 10px;
    transform: scale(0.5);
}

.landing-info-works-indv-img-animation{
    animation: scale 8s ease-in-out forwards;
}

@keyframes scale {
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1)
    }
}

.landing-info-works-individual h2{
    color: var(--clr-highlighted);
    font-family:"Arial Black";
    letter-spacing: -2px;;
}

.landing-info-works-individual p{
    color: var(--clr-white);
    text-align:start;
    opacity: 0.95;
    font-size: 18px;
}

.landing-info-works-individual-dark h2{
    color:var(--clr-primary);
}
.landing-info-works-individual-dark p{
    color:var(--clr-secondary);
}
.landing-info-works-individual-dark .landing-info-works-indv-step{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--clr-primary);
}

@media (max-width: 800px){

    .landing-info-ww-container{
        width: 90%;
        flex-direction: column-reverse;
    }

    .landing-info-ww-img{
        width: 100%;
    }

    .landgng-info-ww-info{
        width: 100%;
        padding-bottom: 2em;
    }

    .landing-info-works-indv{
        display: flex;
        flex-direction: column;
    }

    .landing-info-works-indv-left{
        width: 100%;
    }

    .landing-info-works-indv-img{
        max-width: 500px;
    }
    
    .landing-info-works-indv-step{
        font-size: 25em;;
    }
}

/* Reviews */
.card-main-container{
    position: relative;
    width: 100%;
    display: grid;
    align-items: center;
    padding-top: 5em;
    padding-bottom: 10em; 
}

.card-section{
    position: relative;
    width: 100%;
    height: 80vh; 
    margin-bottom: 1em;
    overflow: hidden;
}

.big-card{
    position: absolute;
    height: 450px;
    width: 20%;
    top: calc(50% - 225px);
    transition: transform 2s ease-in-out;

    border-radius: 10px;
    border: 1px solid var(--clr-primary);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,217,217,1) 100%);
    box-shadow: -10px 31px 37px 5px rgba(0,0,0,0.42);
}

.big-card-title{
    padding: 1em;
    display: flex;
    align-items: center;
    height: 20%;
}

.big-card-title-speachmarks{
    max-width: 75px;
}

.big-card-title-container{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.big-card-title-rating{
    font-size: 28px;
    color: var(--clr-primary)
}

.big-card  p{
    font-size: clamp(1.2rem, 1vw , 1.2rem);
}

/* original Positions of the cards */
.big-card:nth-child(1) {
    left: calc(45% - 10%);
    top: calc(50% - 225px);
    transform: rotate(-12deg);
}
.big-card:nth-child(2) {
    left: calc(49% - 10%);
    top: calc(50% - 225px);
    transform: rotate(-6deg);
}
.big-card:nth-child(3) {
    left: calc(53% - 10%);
    top: calc(52% - 225px);
    transform: rotate(3deg);
}
.big-card:nth-child(4) {
    left: calc(57% - 10%);
    top: calc(57% - 225px);
    transform: rotate(15deg);
}

/* Cards arranging themselves for reading */
.activate-shuffle:hover > .move:nth-child(1){
    transition: transform 2s ease-in-out;
    transform: translate(-155%, 0%);
}
.activate-shuffle:hover > .big-card:nth-child(2){
    transition: transform 2s ease-in-out;
    transform: translate(-60%, 0%) ;
}
.activate-shuffle:hover > .big-card:nth-child(3){
    transition: transform 2s ease-in-out;
    transform: translate(50%, -2%) ;
}
.activate-shuffle:hover > .big-card:nth-child(4){
    transition: transform 2s ease-in-out;
    transform: translate(145%, -9%) ;
}

.big-card-body{
    height: 55%;
    padding: 1em;
    overflow-y: scroll;
}
.big-card-footer{
    padding: 1em;
    height: 20%;
    display: flex;
    gap: 1em;
}

.big-card-footer h1{
    font-size: 1.5em;
}

.big-card-footer p{
    font-size: 1em;
}

.big-card-pfp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.big-card-title-footer{
    height: 25%;
    display: flex;
    flex-direction: column;
}

.footer-speachmarks{
    margin-left: auto;
}


/* Cards going down to shuffle */
.shuffle:nth-child(1){
    transition: transform 2s ease-in-out;
    transform: translateY(150%) translateX(60%) scale(0.1);
}
.shuffle:nth-child(2){
    transition: transform 2s ease-in-out;
    transform: translateY(150%) translateX(30%) scale(0.1) ;
}
.shuffle:nth-child(3){
    transition: transform 2s ease-in-out;
    transform: translateY(150%) translateX(0%) scale(0.1) ;
}
.shuffle:nth-child(4){
    transition: transform 2s ease-in-out; 
    transform: translateY(130%) translateX(-60%) scale(0.1) ;
}

/* Shuffle Button */
.card-button{
 
}
.pButton span::before {
    background-color: white;
}
/* scrollbar */
.big-card-body::-webkit-scrollbar {width: 5px;}
.big-card-body::-webkit-scrollbar-track {background: #f1f1f1; }
.big-card-body::-webkit-scrollbar-thumb {background: #888; }
.big-card-body::-webkit-scrollbar-thumb:hover {background: #555; }

@media screen and (max-width: 1200px) {

    .landing-main{
        position: relative;
        z-index: 1;
    }
    .card-main-container{
        animation: scaleDown 1s ease-in forwards;
     }

    @keyframes scaleDown {
        0%{
            height: 120vh;
        }
        100%{
            height: 100vh;
        }
    }

    .big-card{
        width: 35%;
    }

    .activate-shuffle {
        pointer-events: auto;
    }

    .card-main-container:hover{
        animation: scaleUp 1s ease-in forwards;
    }

    @keyframes scaleUp {
        0%{
            height: 100vh;
        }
        100%{
            height: 170vh;
        }
    }

    .card-main-container:hover .activate-shuffle{
        height: 80vh;
    }

    .card-section:hover{
        transition: transform 2s ease-in-out;
        transform: scaleY(1.5);
    }
    .activate-shuffle{
        transition: transform 2s ease-in-out;
    }
    .activate-shuffle:hover > .move:nth-child(1){
        transition: transform 2s ease-in-out;
        transform: translate(calc(-84% + 4vw), -33%) scaleY(0.6);
    }
    .activate-shuffle:hover > .big-card:nth-child(2){
        transition: transform 2s ease-in-out;
        transform: translate(calc(-85%), 32.5%) scaleY(0.6);
    }
    .activate-shuffle:hover > .big-card:nth-child(3){
        transition: transform 2s ease-inout;
        transform: translate(calc(-6% + 14vw), -35%)  scaleY(0.6);
    }
    .activate-shuffle:hover > .big-card:nth-child(4){
        transition: transform 2s ease-in-out;
        transform: translate(calc(-5% + 10vw), 23%) scaleY(0.6);
    }
    .activate-shuffle:hover .card-button{
        transition: transform 2s ease-in-out;
        transform: translateY(50%);
    }
}

@media screen and (max-width: 650px) {
    
    .landing-info{
        height: auto;
        padding-bottom: 1em;
    }

    .landing-info-ww{
        flex-direction: column;
        justify-content: center;
    }
    .landing-info-ww-left{
        width: 100%;
    }
    .landing-info-ww-right{
        width: 90%;
    }

    .card-section,
    .card-section:hover,
    .card-section:focus,
    .card-main-container,
    .card-main-container:hover,
    .card-main-container:focus,
    .activate-shuffle,
    .activate-shuffle:hover,
    .activate-shuffle:focus,
    .big-card,
    .shuffle,
    .move{
        all: revert;
        transition: none;
    }

    .card-main-container,
    .card-main-container:hover{
        background-color: white;
    }

    .activate-shuffle:hover,
    .card-sction:hover,
    .card-main-container:hover{
        height: 185vh;
    }


    .big-card{
        margin: 0 auto;
        width: 90%;
        border-radius: 10px;
        margin-bottom: 2em;;
        border: 1px solid var(--clr-primary);
        background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,217,217,1) 100%);
    }

    .card-main-container:hover .card-button{
        position: relative;
        z-index: 10;
        transform: translateY(92vh);
        margin: 0 auto;
    }

    /* original Positions of the cards */
    .big-card:nth-child(1) {
        left: calc(0%);
        top: calc(0%);
        transform: rotate(0deg);
    }
    .big-card:nth-child(2) {
        left: calc(0%);
        top: calc(0%);
        transform: rotate(0deg);
    }
    .big-card:nth-child(3) {
        left: calc(0%);
        top: calc(0%);
        transform: rotate(0deg);
    }
    .big-card:nth-child(4) {
        left: calc(0%);
        top: calc(0%);
        transform: rotate(0deg);
    }
    
    /* Cards arranging themselves for reading */
    .activate-shuffle:hover > .move:nth-child(1){
        transition: transform 2s ease-in-out;
        transform: translate(0%);
    }
    .activate-shuffle:hover > .big-card:nth-child(2){
        transition: transform 2s ease-in-out;
        transform: translate(0%) ;
    }
    .activate-shuffle:hover > .big-card:nth-child(3){
        transition: transform 2s ease-in-out;
        transform: translate(0%) ;
    }
    .activate-shuffle:hover > .big-card:nth-child(4){
        transition: transform 2s ease-in-out;
        transform: translate(0%) ;
    }


    /* Cards going down to shuffle */
    .shuffle:nth-child(1){
        transition: transform 2s ease-in-out;
        transform: translateY(0%) translateX(0%) scale(1);
    }
    .shuffle:nth-child(2){
        transition: transform 2s ease-in-out;
        transform: translateY(0%) translateX(0%) scale(1) ;
    }
    .shuffle:nth-child(3){
        transition: transform 2s ease-in-out;
        transform: translateY(0%) translateX(0%) scale(1) ;
    }
    .shuffle:nth-child(4){
        transition: transform 2s ease-in-out; 
        transform: translateY(0%) translateX(0%) scale(1) ;
    }

    .activate-shuffle, .card-section:hover .card-section{
        transition: none;
        animation: none;
    }

}


