*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*   Variables   */
:root {
    --ff-primary : 'Arial';
  
    --fw-reg: 300;
    --fw-bold: 900;
  
    --clr-primary: #1a0c30;
    --clr-secondary: #444054;
    --clr-contrast: #ededed;
    --clr-highlighted:#DB8A74;
    --clr-secondaryHighlighted: #FAC9B8;
    --clr-ownMessage: lightgray;
    --clr-white: white;
    --clr-black: black;
  
    --bs-titles: rgba(0, 0, 0, 0.45) 0px 5px 20px;
  
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1rem;
    --fs-a: 1.25rem;
    --fs-p: 0.8rem;
    --fs-body: 1rem;
  }

/*   General Styles   */
html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    line-height: 1.2;
    box-sizing: border-box;
    
    font-family: var(--ff-primary);
    color: var(--white);
  }

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}
h4{font-size: var(--fs-h4)}

p{ 
    font-size: var(--fs-p);
    
}

a{font-size: var(--fs-a); text-decoration: none;}

img {width: 100%;}

strong {font-weight: var(--fw-bold)}

.fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: var(--clr-secondary); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);   
    border-radius: 20px;       
}


/************ Buttons *************/
/* Primary Button */
button {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: var(--clr-primary);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
   }
   
   button span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid var(--clr-primary);
   }
   
   button span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--clr-contrast);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
   }
   
   button:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    height: 700%;
    background: var(--clr-primary);
   }
   
   button:hover {
    color: white;
   }
   
   button:active span::before {
    background: var(--clr-primary);
   }









/******************* Inputs ********************/
/* For Wave Effect dont add wave-gropup-active in the classname */
.wave-group {
    position: relative;
}
  
.wave-group .input { /*BottomLine Before*/
    font-size: 14px;
    padding: 10px 10px 3px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid var(--clr-secondary);
    background: transparent;
}   

.wave-group .input:focus {
    outline: none;
}

.wave-group .label { /*Label After*/
    color: var(--clr-primary);
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 13px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group-active .input:focus ~ label .label-char,
.wave-group-active .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: var(--clr-primary);
}

.wave-group-deactive .input:focus ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: var(--clr-primary);
}

.wave-group .bar {
    position: relative;
    display: block;
}

.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--clr-primary);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}

  


/*   Footer   */
.footer-container{
    margin-top: -5px;
    width: 100%;
    padding: 1em;
    color: var(--clr-white);
    background-color: var(--clr-primary);
}
.footer-title{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.footer-main{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
.footer-bottom{
    display:flex;
    justify-content: center;
    margin-top: 2em;
}

/*   Other Styles   */
.hide{display: none}
.change-active{
    background-color: var(--clr-lightBlue);
}
.navigation-spacer{
    height:70px;
    background-color: var(--clr-primary);
}
.nav-placeholder {
    width: 100%;
    height:63px;
    background-color: var(--clr-primary);
}

.home-speaker-on{
    transform: scale(1.17);
}