*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*   Variables   */
:root {
    --ff-primary : 'Helvetica', 'Arial';
  
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-primary: #2C2442;
    --clr-secondary: #835D7A;
    --clr-contrast: #EAEBEB;
    --clr-highlighted:#ffd9d9;
    --clr-ownMessage: #EAEBEB;
    --clr-white: #F5F5F5;
    --clr-black: #0A0A0A;

    --bs-titles: rgba(0, 0, 0, 0.45) 0px 5px 20px;
    --bs-light: inset 5px 5px 50px -10px rgba(0,0,0,0.23);
  
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1rem;
    --fs-a: 1.25rem;
    --fs-p: 0.8rem;
    --fs-body: 1rem;
  }

/*   General Styles   */
html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    line-height: 1.2;
    box-sizing: border-box;
    
    font-family: var(--ff-primary);
    color: var(--white);
  }

h1{font-size: var(--fs-h1)}
h2{font-size: var(--fs-h2)}
h3{font-size: var(--fs-h3)}
h4{font-size: var(--fs-h4)}

p{ 
    font-size: var(--fs-p);
}

a{font-size: var(--fs-a); text-decoration: none;}

img {width: 100%;}

strong {font-weight: var(--fw-bold)}

.fcc{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: var(--clr-secondary); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);   
    border-radius: 20px;       
}

/* Loader */
.loader-center{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 6em;
    height: 6em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 3s linear infinite;
  }
  
  .loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: var(--clr-secondary);
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
  }
  
  .loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: var(--clr-highlighted);
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
  }
  
  .loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
  }
  
  .loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                  0 0 4em,
                  0 0 6em,
                  0 0 8em,
                  0 0 10em,
                  0 0 0 0.5em rgba(255, 255, 0, 0.1);
  }
  
  @keyframes animate023845 {
    to {
      transform: rotate(1turn);
    }
  }


/************ Buttons *************/
/* Primary Button */
.pButton {
    border: none;
    display: block;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: var(--clr-primary);
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
}

.pButton span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    border: 4px solid var(--clr-primary);
}

.pButton span::before {
    content: "";
    display: block;
    position: absolute;
    width: 8%;
    height: 500%;
    background: var(--clr-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-60deg);
    transition: all 0.3s;
}

.pButton:hover span::before {
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    height: 700%;
    background: var(--clr-primary);
}

.pButton:hover {
    color: white; 
}

.pButton:active span::before {
    background: var(--clr-primary);
}

/* Landing Page Buttons */

.lButton {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--clr-secondary);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.lButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.lButton span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
    color: white;
}

.lButton:hover span {
    padding-right: 15px;
}

.lButton:hover span:after {
    opacity: 1;
    right: 0;
}


/******************* Inputs ********************/
/* For Wave Effect dont add wave-gropup-active in the classname */
.wave-group {
    position: relative;
}
  
.wave-group .input { /*BottomLine Before*/
    font-size: 14px;
    padding: 10px 10px 3px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid var(--clr-secondary);
    background: transparent;
}   

.wave-group .input:focus {
    outline: none;
}

.wave-group .label { /*Label After*/
    color: var(--clr-primary);
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 13px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .3s);
}

.wave-group-active .input:focus ~ label .label-char,
.wave-group-active .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: var(--clr-primary);
}

.wave-group-deactive .input:focus ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: var(--clr-primary);
}

.wave-group .bar {
    position: relative;
    display: block;
}

.wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--clr-primary);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
    left: 50%;
}

.wave-group .bar:after {
    right: 50%;
}

.wave-group .input:focus ~ .bar:before,
.wave-group .input:focus ~ .bar:after {
    width: 50%;
}

/*  File Inputs */

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    position: relative;
    width: 200px;
    height: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    
    cursor: pointer;
    color: #fff;
    transition: transform .2s ease-out;
    background-color: var(--clr-primary);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
    outline: 1px solid #000;
    outline: -webkit-focus-ring-color auto 2px;
  }

/* arrow */

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    margin-right: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


/*   Footer   */
.footer-container{
    margin-top: -5px;
    width: 100%;
    padding: 1em;
    color: var(--clr-white);
    background-color: var(--clr-primary);
}
.footer-title{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.footer-main{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}
.footer-bottom{
    display:flex;
    justify-content: center;
    margin-top: 2em;
}

/*   Other Styles   */
.hide{display: none}
.change-active{
    background-color: var(--clr-lightBlue);
}
.navigation-spacer{
    height:70px;
    background-color: var(--clr-primary);
}
.nav-placeholder {
    width: 100%;
    height:63px;
    background-color: var(--clr-primary);
}

.home-speaker-on{
    transform: scale(1.17);
}